{% extends "::Layout/layout.html.twig" %}

{% block Content %}
<script >$(document).ready( function () {
    $('#example').DataTable();
} );</script>
<h3>
Portail Utilisateur
</h3>
 <div class="container">

  
 <div class="table-responsive "> 
<table class="table table-bordred table-striped table-inverse display" id="example">
<thead>
<tr>
    <th>N° </th>
<th>Nom Bien</th>
<th>Etat</th>

<th>Description</th>
<th>Localite</th>
<th>Type</th>
<th>Proprietaire</th>
</tr>
</thead>
<tbody>
{%for bien in reservations%}
<tr>
<td>
{%for bien in reservations%}
</td>

<td>{{bien.nomBien}}</td>
<td><a href="{{path('disponibilite',{'id':bien.id})}}">
{%if bien.etat == 1%}
Disponible
{% else %}
Occupé
{% endif%}
</a></td>
<td>{{bien.description}}</td>


<td>{{bien.Localite.libelle }}</td>
<td>{{bien.Type.libelle}}</td>

<td>{{bien.Proprietaire.numeroPiece}}</td>
<td></td>
<td></td>
</tr>

{%else%}
<td colspan="6">Aucun utilisateur</td>

{%endfor%}
</tbody>
</table>
</div>

</div>
 

{% endblock %}